body {
  background-color: var(--primary);
  color: var(--primary-dark);
}

.about-grid {
  display: grid;
  gap: 2rem;
}

img.portrait {
  max-width: 400px;
  width: 100%;
  justify-self: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  gap: 2rem;
}

.skills-single {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills-single ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  --bd-color: var(--primary-dark);
}

.contact-links .link {
  font-weight: 700;
  font-size: 1.5rem;

  align-self: flex-start;
}

.contact-links .link::after {
  content: ' >';
}

.contact-links button.link {
  background: none;
  border: none;
}

/* FOOTER */
.footer {
  --footer-bg: var(--primary-dark);
  --footer-text: var(--primary-light);
  --footer-hover: var(--primary);
}
