body {
  background-color: var(--primary);
  color: var(--primary-dark);
}

.about-grid {
  display: grid;
  gap: 0.5rem;
}

img.portrait {
  max-width: 400px;
  width: 100%;
  justify-self: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  gap: 2rem;
}

.skills-single {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills-single ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

a.resume {
  text-decoration: none;
}

button.resume {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  padding: 1rem 2rem;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  border: none;
  border-radius: 4px;
}

button.resume svg {
  width: 32px;
  fill: var(--primary-light);
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  --bd-color: var(--primary-dark);
}

.contact-links .link {
  font-weight: 700;
  font-size: 1.5rem;

  align-self: flex-start;
}

.contact-links .link::after {
  content: ' >';
}

.contact-links button.link {
  background: none;
  border: none;
}

/* FOOTER */
.footer {
  --footer-bg: var(--primary-dark);
  --footer-text: var(--primary-light);
  --footer-hover: var(--primary);
}

/* Small laptops (1024px and up) */
@media (min-width: 1024px) {
  .about-grid {
    grid-template-columns: 7fr 3fr;
  }

  .about-grid p {
    grid-column: 1 / 2;
  }

  img.portrait {
    max-width: 100%;
    grid-row: 1 / 7;
    grid-column: 2 / 3;
  }
}
