h1,
h2,
h3 {
  color: var(--main);
}

.section-wrapper:nth-child(odd) {
  background-color: var(--bg-odd);
  color: var(--text-odd);
}

.section-wrapper:nth-child(even) {
  background-color: var(--bg-even);
  color: var(--text-even);
}

.project-header {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1.5rem;
  align-items: center;
}

.project-header img {
  min-height: 300px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.detail-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.detail-list ul {
  list-style-type: none;
  line-height: 150%;
}

.text-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-body h3:not(:first-child),
.text-body h4:not(:first-child) {
  margin-top: 1rem;
}

.text-body h4 {
  margin-bottom: -0.5rem;
}

.case-study-img {
  object-fit: contain;
}

.text-body ul {
  padding-left: 2.5rem;
  line-height: 150%;
}

@media (min-width: 768px) {
  .project-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .project-details {
    padding: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }

  .project-header img {
    max-height: 300px;
  }

  .text-body p,
  .text-body h2,
  .text-body h3,
  .text-body h4,
  .text-body ul,
  h2,
  h1,
  .large-text {
    width: 100%;
    max-width: 800px;
    align-self: center;
  }
}

@media (min-width: 1440px) {
  h2,
  h1,
  .large-text {
    max-width: none;
  }
}
