body {
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

h2 {
  font-size: 2.5rem;
}

/* HERO */

.hero {
  height: calc(100svh - 80px);
  min-height: 576px;
  background-color: var(--primary);
  color: var(--primary-dark);
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-logo img {
  width: 200px;
  translate: -4.2%;
  transform-origin: 60% 50%;

  animation: logo-appear 2s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

@keyframes logo-appear {
  0% {
    transform: translateY(100px) rotate(-1turn);

    opacity: 0;
  }
}

.hero-heading {
  text-align: center;
  font-family: var(--syne);

  animation: hero-heading-appear 1s;
  animation-fill-mode: both;
  animation-delay: 2.5s;
}

@keyframes hero-heading-appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

h1 {
  color: var(--primary-dark);
  font-weight: 400;
}

.hero-subheading {
  font-size: 1.5rem;
}

.hero-text {
  text-align: center;

  animation: hero-text-appear 1s;
  animation-fill-mode: both;
  animation-delay: 2.5s;
}

@keyframes hero-text-appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.hero .explore {
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: inherit;
  text-decoration: none;

  animation: explore-bounce 3s infinite 5s, explore-appear 1s 2s;
  animation-fill-mode: both;
}

@keyframes explore-appear {
  0% {
    opacity: 0;
  }
}

@keyframes explore-bounce {
  0%,
  10% {
    transform: translateY(0);
  } /* Start position */
  20% {
    transform: translateY(-10px);
  } /* First bounce */
  30% {
    transform: translateY(0);
  } /* Return */
  40% {
    transform: translateY(-10px);
  } /* Second bounce */
  50% {
    transform: translateY(0);
  } /* Return */
  80%,
  100% {
    transform: translateY(0);
  } /* Pause at the bottom */
}

.hero .explore svg {
  fill: var(--primary-dark);
}

/* SECTIONS */
.section-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/* PROJECT CARD */
.project-card {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  border-radius: 0.25rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  transition: transform 0.2s ease-in-out;
}

.project-card:hover {
  transform: scale(1.02);
}

.project-card img {
  width: 100%;
  object-fit: fill;
}

.project-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.project-title {
  font-size: 1.5rem;
  font-family: var(--ibm);
  font-weight: 400;
}

.project-desc {
  font-size: 0.75rem;
  line-height: 150%;
}

.project-tags {
  font-size: 0.75rem;
  font-weight: 200;
}

.project-links {
  padding-top: 0.5rem;
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.project-links a {
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}
.project-links a:hover {
  text-decoration: underline;
}

.project-links a:only-child {
  flex: 1;
  text-align: center;
}

.project-links a:only-child::after {
  content: ' >';
}

/* ABOUT ME */
.about {
  background: var(--primary);
  color: var(--primary-dark);
}

.about-text {
  display: grid;
  flex-direction: column;
  gap: 1rem;
}

.timeline-wrapper {
  display: none;
}

img.portrait {
  max-width: 300px;
  margin: 0 auto;
  grid-row: 2;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  gap: 2rem;
}

.skills-single {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills-single ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

a.resume {
  text-decoration: none;
}

button.resume {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  padding: 1rem 2rem;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  border: none;
  border-radius: 4px;

  transition: transform 0.2s ease-in-out;
}

button.resume:hover {
  transform: scale(1.02);
}

button.resume svg {
  width: 32px;
  fill: var(--primary-light);
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  --bd-color: var(--primary-dark);
}

.contact-links .link {
  font-weight: 700;
  font-size: 1.5rem;

  align-self: flex-start;
}

.contact-links .link::after {
  content: ' >';
}

.contact-links button.link {
  background: none;
  border: none;
}

/* Tablet (768px and up) */
@media (min-width: 768px) {
  .about-text {
    display: block;
  }

  .about-text .large-text:first-of-type {
    padding-top: 1rem;
  }

  .about-text p + p {
    margin-top: 1rem;
  }

  img.portrait {
    float: left;
    float: inline-start;
    padding: 0 2rem;
    max-width: 300px;
  }
}

/* Small laptops (1024px and up) */
@media (min-width: 1120px) {
  .about-wrapper {
    display: flex;
    gap: 2rem;
  }
  .timeline-wrapper {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .timeline {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    border-left: 2px solid #000;
  }

  .timeline-event {
    display: grid;
    grid-template-areas: 'emoji year' 'emoji event';
    column-gap: 1rem;
    grid-template-columns: 30px 1fr;

    margin-left: -15px;
  }

  .timeline-event .emoji {
    grid-area: emoji;
    font-size: 1.5rem;
    align-self: center;
    text-align: center;
  }

  .timeline-event .year {
    font-weight: 600;
  }
}

/* Tablet (768px and up) */
@media (min-width: 768px) {
  .section-wrapper {
    padding: 3rem 1.5rem;
  }

  h1 {
    font-size: 4rem;
  }

  .hero {
    gap: 3rem;
  }

  .hero-subheading {
    font-size: 2rem;
  }

  .hero-text {
    font-size: 1.5rem;
  }
}

/* Small laptops (1024px and up) */
@media (min-width: 1024px) {
  .hero-logo img {
    width: 300px;
    translate: 0;

    animation: logo-appear 3s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
  }

  .hero-heading {
    text-align: left;
    animation: hero-heading-appear 1.5s;
    animation-fill-mode: both;
    animation-delay: 2s;
  }

  .hero-logo {
    flex-direction: row;
  }

  .hero-text {
    animation-duration: 1.5s;
    animation-delay: 2s;
  }

  @keyframes logo-appear {
    0% {
      opacity: 0;
      transform: translateY(150px) translateX(200px) rotate(-1turn);
    }

    50% {
      opacity: 1;
      transform: translateX(200px);
    }
  }

  @keyframes hero-heading-appear {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
    }
  }
}
