:root {
  --main: #0185cc;
  --bg-odd: var(--primary-light);
  --bg-even: #171919;
  --text-odd: var(--primary-dark);
  --text-even: var(--primary-light);
}

.footer {
  --footer-bg: var(--primary-dark);
  --footer-text: var(--primary-light);
  --footer-hover: var(--primary);
}
