:root {
  --main: #25486b;
  --bg-odd: var(--primary-light);
  --bg-even: #eef2f7;
  --text-odd: var(--primary-dark);
  --text-even: var(--primary-dark);
}

.footer {
  --footer-bg: var(--primary-dark);
  --footer-text: var(--primary-light);
  --footer-hover: var(--primary);
}
