.notFound {
  background-color: var(--primary);
  min-height: calc(100svh - 80px - 132px);
  display: flex;
  align-items: center;
}

.notFound :global(.section) {
  color: var(--primary-dark);
  text-align: center;
  align-items: center;
}
