.navbarWrapper {
  background-color: var(--primary-dark);
  padding: 1rem;

  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;

  color: var(--primary-light);
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

.navLogo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navLogoText {
  font-family: var(--syne);
  font-size: 1.5rem;
}

.navLogo img {
  width: 3rem;
}

.navToggle {
  width: 40px;
  height: 40px;
}

.navToggle svg {
  fill: var(--primary-light);
  width: 100%;
}

.navLinks {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 80px;
  left: 0;
  list-style-type: none;
}

.navLinks.open {
  display: flex;
}

.navLinks li {
  background: var(--primary-dark);
  padding: 1rem;
  text-align: right;
}

/* Tablet (768px and up) */
@media (min-width: 768px) {
  .navToggle {
    display: none;
  }

  .navLinks {
    position: inherit;

    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .navLinks li {
    padding: 0;
  }
}
