.caseStudy h1,
.caseStudy h2,
.caseStudy h3 {
  color: var(--main);
}

.caseStudy :global(.section-wrapper):nth-child(even) {
  background-color: var(--bg-odd);
  color: var(--text-odd);
}

.caseStudy :global(.section-wrapper):nth-child(odd) {
  background-color: var(--bg-even);
  color: var(--text-even);
}

.hiddenHeading {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.projectHeader {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1.5rem;
  align-items: center;
}

.projectHeader img {
  min-height: 300px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.detailList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.detailList ul {
  list-style-type: none;
  line-height: 150%;
}

.textBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textBody h3:not(:first-child),
.textBody h4:not(:first-child) {
  margin-top: 1rem;
}

.textBody h4 {
  margin-bottom: -0.5rem;
}

.caseStudyImg {
  object-fit: contain;
}

.bulletList {
  padding-left: 2.5rem;
  line-height: 150%;
}

@media (min-width: 768px) {
  .projectHeader {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .projectDetails {
    padding: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }

  .projectHeader img {
    max-height: 300px;
  }

  .textBody p,
  .textBody h2,
  .textBody h3,
  .textBody h4,
  .textBody ul,
  .bulletList,
  .caseStudy h2,
  .caseStudy h1,
  .largeText {
    width: 100%;
    max-width: 800px;
    align-self: center;
  }
}

@media (min-width: 1440px) {
  .caseStudy h2,
  .caseStudy h1,
  .largeText {
    max-width: none;
  }
}
