.case-study h1,
.case-study h2,
.case-study h3 {
  color: var(--main);
}

.case-study .section-wrapper:nth-child(odd) {
  background-color: var(--bg-odd);
  color: var(--text-odd);
}

.case-study .section-wrapper:nth-child(even) {
  background-color: var(--bg-even);
  color: var(--text-even);
}

.case-study .hidden-heading {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.case-study .project-header {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1.5rem;
  align-items: center;
}

.case-study .project-header img {
  min-height: 300px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.case-study .project-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.case-study .detail-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.case-study .detail-list ul {
  list-style-type: none;
  line-height: 150%;
}

.case-study .text-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.case-study .text-body h3:not(:first-child),
.case-study .text-body h4:not(:first-child) {
  margin-top: 1rem;
}

.case-study .text-body h4 {
  margin-bottom: -0.5rem;
}

.case-study .case-study-img {
  object-fit: contain;
}

.case-study .text-body ul {
  padding-left: 2.5rem;
  line-height: 150%;
}

@media (min-width: 768px) {
  .case-study .project-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .case-study .project-details {
    padding: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }

  .case-study .project-header img {
    max-height: 300px;
  }

  .case-study .text-body p,
  .case-study .text-body h2,
  .case-study .text-body h3,
  .case-study .text-body h4,
  .case-study .text-body ul,
  .case-study h2,
  .case-study h1,
  .case-study .large-text {
    width: 100%;
    max-width: 800px;
    align-self: center;
  }
}

@media (min-width: 1440px) {
  .case-study h2,
  .case-study h1,
  .case-study .large-text {
    max-width: none;
  }
}
